<%= form_with method: :get, scope: 'query' do |form| %>
  <%= form.label 'origin_airport_id', 'From:' %>
  <%= form.collection_select 'origin_airport_id', Airport.all, :id, :code, selected: @query.nil? ? 1 : @query[:origin_airport_id] %>
  
  <%= form.label 'destination_airport_id', 'To:' %>
  <%= form.collection_select 'destination_airport_id', Airport.all, :id, :code, selected: @query.nil? ? 1 : @query[:destination_airport_id] %><br>

  <%= form.label 'passenger_count', 'Passengers:'%>
  <%= form.select 'passenger_count', (1..4).to_a, selected: @query.nil? ? 1 : @query[:passenger_count] %><br>

  <%= form.label 'start', 'Departure start:'%>
  <%= form.collection_select 'start', Flight.all, :start, :start_date_formatted, selected: @query.nil? ? 1 : @query[:start] %><br>

  <%= form.submit 'Search' %>
<% end %>

<hr>

<% unless @query.nil? %>
  <%= form_with url: new_booking_path, method: :get do |form| %>
    <% @flights.each do |flight| %>
      <%= form.label :flight_to_book_id, "Book this flight", value: flight.id %>
      <%= form.radio_button :flight_to_book_id, flight.id, required: true %>
      <p>Flight from <%= airport_codes[flight.origin_airport_id]%> to <%= airport_codes[flight.destination_airport_id] %></p>
      <p>Departure starts: <%= flight.start %></p>
      <p>Flight duration: <%= flight.duration %></p><hr>
    <% end %>
    <%= form.hidden_field :passenger_count, value: @query.nil? ? 1 : @query[:passenger_count] %>
    <%= form.submit "Create a booking" %>
  <% end %>
<% end %>